<ion-header>
  <ion-toolbar>
    <ion-title>Сервіс</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="admin-page">
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-list inset>
          <ion-item routerLink="/admin/service/scanner-survey" detail>
            <ion-label>
              <h2>Тест сканерів</h2>
              <p>Тимчасова перевірка Code 128, QR та камер браузера.</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
