{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AppStorageConnectionString": "UseDevelopmentStorage=true",
    "ScannerSurveyTableName": "ScannerSurveyResults"
  }
}
