<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="customer-create" href="/admin/customer-create">
      <ion-icon name="add-circle-outline" aria-hidden="true" />
      <ion-label>Створити анкету</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers" href="/admin/customers">
      <ion-icon name="people-outline" aria-hidden="true" />
      <ion-label>Анкети</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="service" href="/admin/service">
      <ion-icon name="construct-outline" aria-hidden="true" />
      <ion-label>Сервіс</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
