:host {
  display: block;
}

.admin-shell-actions {
  position: fixed;
  z-index: var(--ion-z-index-overlay);
  inset-block-start: var(--ion-safe-area-top);
  inset-inline-end: var(--ion-safe-area-right);
}
