<ion-header>
  <ion-toolbar>
    <ion-title>Анкети</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="admin-page">
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Службова зона</ion-card-subtitle>
            <ion-card-title>Анкети клієнтів</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Тут буде пошук, створення та редагування анкет. Маршрут уже
            відокремлений від публічного сценарію і готовий для наступного PR.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
